[submodule "bibliography"]
	path = _bibliography
	url = https://github.com/mit-acl/bibliography.git
[submodule "_bibliography"]
	path = _bibliography
	url = https://github.com/mit-acl/bibliography.git
