---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>
			{% for author in page.authors %}
				{% assign member = site.members | where: 'kerberos', author | first %}
				{% if member %}
					<a href="{{ member.url }}">{{ member.name }}</a>{% if forloop.last == false %},{% endif %}
				{% else %}
					{{ author }}{% if forloop.last == false %},{% endif %}
				{% endif %}
			{% endfor %}
		</p>

	</div>

</section>

<section class="single">

	<div class="wrap">

		{{ page.content }}

		{% if page.papers %}
			<h3>Related Publications</h3>
			<ul class="papers">
				{% for citation in page.papers %}
					<li>
						{% reference {{ citation }} %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>

</section>